In [1]:
# wap to create a biling system
# name
# price
# qty
# total
# gran total or all_total

# wap to create a result mnagement system of users
# name
# subject
# total
# per
# grade

In [2]:
# wap to create a biling system
# name
# price
# qty
# total
# gran total or all_total

g=0
n=int(input("Enter n = "))
for i in range(n):
    name=input("Enter a product name : ")
    price=int(input("enter product price = "))
    qty=int(input("Enter product qty = "))
    total=price*qty
    g=g+total
    print("total amt : ",total)
    print("grand total : ",g)

Enter n = 2
Enter a product name : wai wai
enter product price = 20
Enter product qty = 100
total amt :  2000
grand total :  2000
Enter a product name : biscuits
enter product price = 10
Enter product qty = 50
total amt :  500
grand total :  2500

In [4]:
all_total = 0
bill = str()
n=int(input("Enter n = "))
for i in range(n):
    name=input("Enter a product name : ")
    price=int(input("enter product price = "))
    qty=int(input("Enter product qty = "))
    total=price*qty
    all_total = all_total+total
    bill = bill + name +"\t"+ str(price) +"\t"+ str(qty) +"\t"+ str(total) +"\n"
    
print(bill)
print("all total amt is :" ,all_total)

Enter n = 3
Enter a product name : wai wai
enter product price = 34
Enter product qty = 20
Enter a product name : biscuit
enter product price = 20
Enter product qty = 10
Enter a product name : apple
enter product price = 20
Enter product qty = 30
wai wai 	34	20	680
biscuit	20	10	200
apple	20	30	600

all total amt is : 1480

In [1]:
# wap to create a result mnagement system of users
# name
# subject
# total
# per
# grade

name = str(input("Enter student name : "))
nepali = int(input("Enter a nepali mark : "))
science = int(input("Enter a science mark : "))
math = int(input("Enter a math mark : "))
java = int(input("Enter a java mark : "))
python = int(input("Enter a python mark : "))
total = nepali+science+math+java+python
per = total/5
if per>80 or per==80:
    print("Grade A")
elif per>60 or per==60:
    print("Grade B")
elif per>45or per==45:
    print("Grade C")
else:
    print("F")

Enter student name : ram
Enter a nepali mark : 43
Enter a science mark : 54
Enter a math mark : 56
Enter a java mark : 65
Enter a python mark : 65
Grade C

In [3]:
result = str()
n = int(input("Enter n = "))
for i in range(n):
    name = str(input("Enter student name : "))
    nepali = int(input("Enter a nepali mark : "))
    science = int(input("Enter a science mark : "))
    math = int(input("Enter a math mark : "))
    java = int(input("Enter a java mark : "))
    python = int(input("Enter a python mark : "))
    total = nepali+science+math+java+python
    per = total/5
    if per>=80 and per<100:
        grade = 'A'
    elif per>=60 and per<80:
        grade = 'B'
    elif per>=45 and per<60:
        grade = 'C'
    else:
        grade = 'F'
    result = result + name +"\t" +str(nepali) +"\t"+ str(science) +"\t"+ str(math) +"\t"+ str(java) +"\t"+ str(python) +"\t"+ str(total) +"\t"+ str(per)+"\t"+str(grade)+"\n"

print('name\tnepali\tscience\tmath\tjava\tpython\ttotal\tper\tgrade')
print(result)

Enter n = 2
Enter student name : Gauri
Enter a nepali mark : 89
Enter a science mark : 78
Enter a math mark : 87
Enter a java mark : 67
Enter a python mark : 78
Enter student name : Shyam
Enter a nepali mark : 23
Enter a science mark : 32
Enter a math mark : 34
Enter a java mark : 43
Enter a python mark : 23
name	nepali	science	math	java	python	total	per	grade
Gauri	89	78	87	67	78	399	79.8	B
Shyam	23	32	34	43	23	155	31.0	F

In [5]:
# making bill system

In [9]:
all_total = 0
bill = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter product name = ")
    price = int(input("Enter price of product = "))
    qty = int(input("enter a product qty =" ))
    total = price*qty
    all_total = all_total+total
    bill = bill+name+ "\t" +str(price)+ "\t" +str(qty)+ "\t" +str(total)+"\n"

print('name\tprice\tqty\ttotal')
print(bill)
print("All amt is = ",all_total)

Enter n = 3
Enter product name = wai wai
Enter price of product = 20
enter a product qty =10
Enter product name = biscuits
Enter price of product = 30
enter a product qty =20
Enter product name = apple
Enter price of product = 200
enter a product qty =10
name	price	qty	total
wai wai	20	10	200
biscuits	30	20	600
apple	200	10	2000

All amt is =  2800

In [9]:
# WAP to search any value inside a list.


information = [['Sarita',20,'ktm'],
              ['Ram',25,'bhaktapur'],
              ['Prem',25,'rupandehi'],
              ['Priya',22,'rupandehi'],
              ['Gita',55,'lalitpur']]

search = input("Enter name = ")
for i in information:
    if search in i:
        print(i)

Enter name = Sarita
['Sarita', 20, 'ktm']

In [2]:
# WAP to create a matrix
# r = ?
# c = ?
# x = ?
# m = []
# n = [1,2,3]

r = int(input("Enter r = "))
c = int(input("Enter c = "))
m = []
for i in range(r):
    n = []
    for j in range(c):
        x = int(input("Enter x = "))
        n.append(x)
    m.append(n)
    print(m)

Enter r = 3
Enter c = 3
Enter x = 1
Enter x = 2
Enter x = 3
[[1, 2, 3]]
Enter x = 4
Enter x = 5
Enter x = 6
[[1, 2, 3], [4, 5, 6]]
Enter x = 7
Enter x = 8
Enter x = 8
[[1, 2, 3], [4, 5, 6], [7, 8, 8]]

In [3]:
r = int(input("Enter r = "))
c = int(input("Enter c = "))
m = []
for i in range(r):
    n = []
    for j in range(c):
        x = int(input("Enter x = "))
        n.append(x)
    m.append(n)
    print(m)

Enter r = 2
Enter c = 3
Enter x = 1
Enter x = 2
Enter x = 3
[[1, 2, 3]]
Enter x = 4
Enter x = 5
Enter x = 6
[[1, 2, 3], [4, 5, 6]]

In [ ]:
r = int(input("Enter r = "))
c = int(input("Enter c = "))
m = []
for i in range(r):
    n = []
    for j in range(c):
        x = int(input("Enter x = "))
        n.append(x)
    m.append(n)
    print(m)

In [1]:
# python collection cheat sheet
# pandas cheat sheet
# sql cheat sheet

In [ ]:
# Packages 

Beautiful Soup
git- download
github
layouit 
bootsrap
matplotlip
plotly python