In [1]:
# dictionary
# index
# duplicate value
# ordered
# mutable

In [2]:
d = dict()
d = {}

In [3]:
d = {"a":"apple","b":"ball"}
d

{'a': 'apple', 'b': 'ball'}

In [5]:
d['a']

'apple'

In [6]:
d = {"a":"apple","b":"ball"}
d['b']

'ball'

In [7]:
d = {"a":"apple","b":"ball",'A':'apple'}
d['A']

'apple'

In [8]:
d = {"a":"apple","b":"ball",'a':'Apple'}
d

{'a': 'Apple', 'b': 'ball'}

In [9]:
d = {"a":"apple","b":"ball",'a':'Apple'}
d['c']='cat'
d

{'a': 'Apple', 'b': 'ball', 'c': 'cat'}

In [10]:
d = {}
d['a']='apple'
d['b']='Ball'
d

{'a': 'apple', 'b': 'Ball'}

In [11]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    d[name] = phone
    
print(d)

Enter n = 2
Enter name = prem
Enter phone = 98765456
Enter name = shyam
Enter phone = 987543456
{'prem': '98765456', 'shyam': '987543456'}

In [12]:
d = {'prem': '98765456', 'shyam': '987543456'}
for i in d:
    print(i)

prem
shyam

In [13]:
d = {'prem': '98765456', 'shyam': '987543456'}
for i in d.values():
    print(i)

98765456
987543456

In [14]:
d = {'prem': '98765456', 'shyam': '987543456'}
for i in d.items():
    print(i)

('prem', '98765456')
('shyam', '987543456')

In [19]:
l=[]
d = {'prem': '98765456', 'shyam': '987543456'}
for i in d.items():
    l.append(i)
    
print(l)

[('prem', '98765456'), ('shyam', '987543456')]

In [20]:
dict(l)

{'prem': '98765456', 'shyam': '987543456'}

In [21]:
# del
d = {'prem': '98765456', 'shyam': '987543456'}
del d['prem']
d

{'shyam': '987543456'}

In [22]:
# pop()

d = {'ram':'9862345','prem': '98765456', 'shyam': '987543456'}
c = d.pop('ram')
print(c)
print(d)

9862345
{'prem': '98765456', 'shyam': '987543456'}

In [24]:
# list inside dictionary

d = {'ram':['9862345','987543212300'],'prem': '98765456', 'shyam': '987543456'}
d

{'ram': ['9862345', '987543212300'], 'prem': '98765456', 'shyam': '987543456'}

In [26]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = input("Enter ntc phone = ")
    ncell_phone = input("Enter ncell phone = ")
    d[name] = [ntc_phone,ncell_phone]
    
print(d)

Enter n = 2
Enter name = shyam
Enter ntc phone = 071-4234234
Enter ncell phone = 983442423
Enter name = hari
Enter ntc phone = 071834423
Enter ncell phone = 982364234
{'shyam': ['071-4234234', '983442423'], 'hari': ['071834423', '982364234']}

In [27]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = input("Enter ntc phone = ")
    ncell_phone = input("Enter ncell phone = ")
    d[name] = [ntc_phone,ncell_phone]
    
print(d)

Enter n = 2
Enter name = shyam
Enter ntc phone = 071983343
Enter ncell phone =
Enter name = hari
Enter ntc phone = 071-827332
Enter ncell phone = 982342342
{'shyam': ['071983343', ''], 'hari': ['071-827332', '982342342']}

In [28]:
d = {'shyam': ['071983343', ''], 'hari': ['071-827332', '982342342']}
d['prem']=['0712123','98323123']
d

{'shyam': ['071983343', ''],
 'hari': ['071-827332', '982342342'],
 'prem': ['0712123', '98323123']}

In [30]:
d = {'shyam': ['071983343', ''], 'hari': ['071-827332', '982342342']}
d['shyam'].append('982343242')
d

{'shyam': ['071983343', '', '982343242'], 'hari': ['071-827332', '982342342']}

In [34]:
d ={'shyam': ['071983343', '', '982343242'], 'hari': ['071-827332', '982342342']}
del d['shyam'][1]
d

{'shyam': ['071983343', '982343242'], 'hari': ['071-827332', '982342342']}

In [35]:
d = {'name':['ram','shyam','hari'],'age':['20','24','46'],'add':['ktm','bhw','btl']}
d

{'name': ['ram', 'shyam', 'hari'],
 'age': ['20', '24', '46'],
 'add': ['ktm', 'bhw', 'btl']}

In [36]:
d = {'name':['ram','shyam','hari'],'age':['20','24','46'],'add':['ktm','bhw','btl']}
d['name'].append('prem')
d['age'].append('25')
d['add'].append('bhw')
d

{'name': ['ram', 'shyam', 'hari', 'prem'],
 'age': ['20', '24', '46', '25'],
 'add': ['ktm', 'bhw', 'btl', 'bhw']}

In [37]:
# dict inside list

l = [{'name':'ram','age':'25','add':'ktm'},
    {'name':'rama','age':'27','add':'rara'},
    {'name':'raman','age':'20','add':'kalika'}]
l

[{'name': 'ram', 'age': '25', 'add': 'ktm'},
 {'name': 'rama', 'age': '27', 'add': 'rara'},
 {'name': 'raman', 'age': '20', 'add': 'kalika'}]

In [38]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name=input("Enter name = ")
    age=int(input("Enter age = "))
    add=input("Enter add = ")
    d={'name':name,'age':age,'add':add}
    l.append(d)
    
l

Enter n = 2
Enter name = prem
Enter age = 34
Enter add = bhw
Enter name = maya
Enter age = 22
Enter add = ktm

[{'name': 'prem', 'age': 34, 'add': 'bhw'},
 {'name': 'maya', 'age': 22, 'add': 'ktm'}]

In [39]:
l[0]['name']='prema'

In [40]:
del l[0]
l

[{'name': 'maya', 'age': 22, 'add': 'ktm'}]

In [45]:
# dict inside dict

d = {1:{"name":"ram","grade":"A"},
    2:{"name":"pooja","grade":"B"}}
d

{1: {'name': 'ram', 'grade': 'A'}, 2: {'name': 'pooja', 'grade': 'B'}}

In [1]:
d = {}
d[1]={"name":"ram","grade":"A"}
d[2]={"name":"pooja","grade":"B"}
d

{1: {'name': 'ram', 'grade': 'A'}, 2: {'name': 'pooja', 'grade': 'B'}}