In [1]:
# file = open('<file_path>','<mode>')
# file.close()

In [2]:
# with open('<file_name>','<mode>') as file:
#     <operation>

In [3]:
# mode
# read ->'r'
# create ->'x'
# write -> 'w'
# append -> 'a'

In [6]:
try:
    file =open('new_file.txt','x')
    file.close()
except:
    print("the file is alredy crated")

the file is alredy crated

In [3]:
# read file

file=open('new_file.txt','r')
x=file.read()
print(x)
print(type(x))
file.close()

1.hello world
2.hello world
3.hello world
4.hello world
5.hello world
6.hello world
7.hello world
<class 'str'>

In [5]:
n = int(input("enter n = "))
x.split('\n')[n-1]

enter n = 2

'2.hello world'

In [6]:
# no create file 'w' create file and also save text

with open('data.txt','w') as file:
    file.write('hello world')

In [7]:
s=""
n=int(input("Enter n = "))
for i in range(n):
    name=input("Enter name = ")
    age=int(input("Enter age = "))
    add=input("Enter adddress = ")
    s=s+f"{name} {age} {add}\n"
    
    with open ("data.txt",'w') as file:
        file.write(s)

Enter n = 2
Enter name = prem
Enter age = 25
Enter adddress = bhw
Enter name = manya
Enter age = 23
Enter adddress = ktm

In [8]:
# for see path : pwd

In [9]:
pwd

'C:\\Users\\om\\Class8am'

In [10]:
s=""
bill=str()
n=int(input("Enter n = "))
for i in range(n):
    name=input("Enter name = ")
    age=int(input("Enter age = "))
    add=input("Enter adddress = ")
    s=s+f"{name} {age} {add}\n"
    s=s+bill
    print(s)
    with open ("data.txt",'w') as file:
        file.write(s)

Enter n = 2
Enter name = apple
Enter age = 23
Enter adddress = ktm
apple 23 ktm

Enter name = mango
Enter age = 34
Enter adddress = 54
apple 23 ktm
mango 34 54

In [1]:
# csv file

s=str()
n=int(input("Enter n = "))
for i in range(n):
    name=input("Enter name = ")
    price=int(input("Enter price = "))
    qty=int(input("Enter qty = "))
    
    total=price*qty
    bill=f"{name},{price},{qty},{total}\n"
    s=s+bill
    
    print(s)
    with open ("data.csv",'w') as file:
        file.write('name,price,qty,total\n')
        file.write(s)

Enter n = 2
Enter name = mango
Enter price = 100
Enter qty = 20
mango,100,20,2000

Enter name = apple
Enter price = 200
Enter qty = 10
mango,100,20,2000
apple,200,10,2000

In [2]:
# pip install pandas
# pandas is package
import pandas as pd
df=pd.read_csv('data.csv')
df

    name  price  qty  total
0  mango    100   20   2000
1  apple    200   10   2000

In [1]:
import csv
a=[['momo',200,10,200],
   ['cake',100,500,5000]]
with open('bill.csv','w') as file:
    x=csv.writer(file)
    x.writerows(a)

In [2]:
import csv
data=[]
with open('bill.csv','r') as file:
    reader=csv.DictReader(file)
    for i in reader:
        data.append(i)
        
data

[{'momo': 'cake', '200': '5000', '10': '500'}]

In [3]:
file=open('data.csv','r')
x=file.read()
y=x.split('\n')
print(y)
file.close()

['name,price,qty,total', 'mango,100,20,2000', 'apple,200,10,2000', '']

In [4]:
all_result=[]
for i in y[0:-1]:
    all_result.append(i.split(','))
    
all_result

[['name', 'price', 'qty', 'total'],
 ['mango', '100', '20', '2000'],
 ['apple', '200', '10', '2000']]

In [5]:
pwd

'C:\\Users\\om\\Class8am'