In [1]:
a=12
print(a)

12

In [2]:
a="Hello worldd"
print(a)

Hello worldd

In [2]:
a=10
b=21.23
c="Hello world"
d=False
print(a)
print(b)
print(c)
print(d)
print(a,b,c,d)

10
21.23
Hello world
False
10 21.23 Hello world False

In [4]:
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))

10 <class 'int'>
21.23 <class 'float'>
Hello world <class 'str'>
False <class 'bool'>

In [5]:
# string
# a="Hello world"
# a='Hello world'
# a='''Hello world'''

In [6]:
# + - * / ** //

In [8]:
a=12
b=12.5
c=a+b
print(c)

24.5

In [10]:
a=10
b=4
print(a**b)

10000

In [11]:
a=180
b=50
c=a//b
print(c)

3

In [12]:
r=15.5
a=3.14*15.5**2
print(a)

754.385

In [13]:
a='25'
b=int(a)
b

25

In [14]:
a=12
b=str(a)
b

'12'

In [2]:
a=14
b=float(a)
b

14.0

In [3]:
a = int(input("Enter a : "))
b = int(input("Enter b : "))
c = a+b
print(c)

Enter a : 12
Enter b : 12
24

In [5]:
a = int(input("Enter a : "))
b = int(input("Enter b : "))
print("sum of two no : ",a+b)

Enter a : 45
Enter b : 5
sum of two no :  50

In [7]:
p = float(input("Enter p : "))
t = float(input("Enter t : "))
r = float(input("Enter r : "))
i = p*t*r/100
print("The value of i :",i)

Enter p : 12
Enter t : 23
Enter r : 1.3
The value of i : 3.588