In [ ]:
#  python collection
# list
# tuple
# set
# dictionary

In [ ]:
# list

In [ ]:
# indexing = b=['apple'[0],'ball'[1]]
# multiple data =[1,2,3,4,4]
# duplicate data =['apple','apple']
# ordered = what is insert(same word print)
# mutable(changeable) =

In [1]:
a = []
a = list()
print(type(a))

<class 'list'>

In [3]:
a = [1,2,3,4,5]
b = ['Apple','ball','cat']
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [4]:
b = ['Apple','ball','cat']
b[0]

'Apple'

In [5]:
b = ['Apple','ball','cat']
b[-2]

'ball'

In [7]:
b = ['Apple','ball','cat']
b[0:2]

['Apple', 'ball']

In [2]:
b = ['Apple','ball','cat']
b[0:4:2]

['Apple', 'cat']

In [11]:
len(b)

3

In [12]:
# ordered
b = ['Apple','ball','cat']
b

['Apple', 'ball', 'cat']

In [13]:
a = ['Apple','ball','cat']
b = ['fish']
c=a+b
print(c)

['Apple', 'ball', 'cat', 'fish']

In [14]:
list('12')

['1', '2']

In [15]:
list('python')

['p', 'y', 't', 'h', 'o', 'n']

In [16]:
# muteable
b = ['Apple','ball','cat'] 
b[0]='apple'
b

['apple', 'ball', 'cat']

In [3]:
a = ['Apple','cat','apple','ball']
for i in a:
    print(i)

Apple
cat
apple
ball

In [19]:
a = ['Apple','cat','Apple','ball']
for i in a:
    if i !='Apple':
        print(i)

cat
ball

In [20]:
a = ['Apple','cat','Apple','ball']
for i in a:
    if i =='Apple':
        print(i)

Apple
Apple

In [21]:
a = ['Apple','cat','Apple','ball']
l = len(a)
for i in range(l):
    print(a[i])

Apple
cat
Apple
ball

In [22]:
a = list()
n = int(input("Enter the value of n = "))
for i in range(n):
    x = int(input("Enter the value of x = "))
    a = a+[x]
    print(a)

Enter the value of n = 2
Enter the value of x = 12
[12]
Enter the value of x = 21
[12, 21]

In [23]:
# change in list= []
a = list()
n = int(input("Enter the value of n = "))
for i in range(n):
    x = int(input("Enter the value of x = "))
    a = a+[x]
    print(a)

Enter the value of n = 5
Enter the value of x = 1
[1]
Enter the value of x = 2
[1, 2]
Enter the value of x = 3
[1, 2, 3]
Enter the value of x = 4
[1, 2, 3, 4]
Enter the value of x = 5
[1, 2, 3, 4, 5]

In [1]:
a = list()
n = int(input("Enter n = "))
for i in range(n):
    b = input("Enter b = ")
    a=a+[b]
    print(a)

Enter n = 3
Enter b = apple
['apple']
Enter b = mango
['apple', 'mango']
Enter b = orange
['apple', 'mango', 'orange']

In [3]:
a = list()
n = int(input("Enter the value of n = "))
for i in range(n):
    x = int(input("Enter the value of x = "))
    a = a+[x]
    print(a)

Enter the value of n = 3
Enter the value of x = 2323
[2323]
Enter the value of x = 4322
[2323, 4322]
Enter the value of x = 2223
[2323, 4322, 2223]

In [4]:
print("the max value = ",max(a))
print("the min value = ",min(a))
print("the sum = ",sum(a))

the max value =  4322
the min value =  2223
the sum =  8868

In [5]:
a = list()
n = int(input("Enter the value of n = "))
for i in range(n):
    x = int(input("Enter the value of x = "))
    a = a+[x]
    print(a)

Enter the value of n = 4
Enter the value of x = 23
[23]
Enter the value of x = 43
[23, 43]
Enter the value of x = 23
[23, 43, 23]
Enter the value of x = 45
[23, 43, 23, 45]

In [7]:
print("the max value = ",max(a))
print("the min value = ",min(a))
print("the sum = ",sum(a))
print("the avg = ",sum(a)/n)

the max value =  45
the min value =  23
the sum =  134
the avg =  33.5

In [10]:
# sort()= change in alphabet
a = ['Apple','banana','zebra','Xray']
a.sort()
a

['Apple', 'Xray', 'banana', 'zebra']

In [ ]:
# value add in list
append() = insert value in last
insert() = value insert
extend() = multiple value insert at the same time by the help of list

# delete
del/remove()/pop()

# for indexing
index() = see value

# value counting
count()

# calculation
sum()
max()
min()

# sorting
sort() = orginal value change
sorted()= value change but not orginal value change

In [3]:
a = []
a.append('apple')
a.append('cat')
a.append('ball')
a

['apple', 'cat', 'ball']

In [4]:
a = ['apple','dog','cat']
a.append('ball')
a

['apple', 'dog', 'cat', 'ball']

In [7]:
a = list()
n = int(input("Enter the value of n = "))
for i in range(n):
    x = input("Enter the value of x = ")
    a.append(x)
print(a)

Enter the value of n = 2
Enter the value of x = apple
Enter the value of x = dog
['apple', 'dog']

In [9]:
a = ['apple','cat','dog']
a.insert(2,'Ball')
a

['apple', 'cat', 'Ball', 'dog']

In [10]:
a = ['apple','cat']
b = ['ball','dog']
a.extend(b)
a

['apple', 'cat', 'ball', 'dog']

In [11]:
a = ['Apple','Ball','Cat']
a[0] = 'apple'
a

['apple', 'Ball', 'Cat']

In [12]:
a = ['Apple','Ball','Cat']
del a[1]
a

['Apple', 'Cat']

In [13]:
a = ['Apple','Ball','Cat','dog']
del a[0:2]
a

['Cat', 'dog']

In [15]:
a = ['Apple','Ball','Cat','dog']
a.remove('Ball')
a

['Apple', 'Cat', 'dog']

In [19]:
a = ['Apple','Ball','Cat','dog','Apple']
l=a.count("Apple")
for i in range(2):
    a.remove("Apple")
    
a

['Ball', 'Cat', 'dog']

In [20]:
a = ['Apple','Ball','Cat','dog','Apple']
a.index('Ball')

1

In [21]:
a = ['Apple','Ball','Cat','dog','Apple']
a.index('Apple')

0

In [23]:
a = ['Apple','Ball','Cat','dog','Apple']
l = len(a)
for i in range(l):
    if a[i]=='Apple':
        print(i)

0
4

In [25]:
a = ['Apple','Ball','Cat','dog','Apple']
l = len(a)
for i in range(l):
    if a[i]=='Apple':
        a[i]='apple'
        
a

['apple', 'Ball', 'Cat', 'dog', 'apple']

In [26]:
a = ['Apple','Ball','Cat','dog','Apple']
b = []
x = input("Enter x = ")
y = input("Enter y = ")
for i in a:
    if i==x:
        b.append(y)
    else:
        b.append(i)
        
b

Enter x = Apple
Enter y = apple

['apple', 'Ball', 'Cat', 'dog', 'apple']

In [27]:
a = ['Apple','Ball','Cat','dog','Apple']
if "Apple" in a:
    print("yes",a.count("Apple"))

yes 2

In [29]:
a = ['Apple','Ball','Cat','dog','Apple']
print(a.count("Apple"))

2

In [30]:
# WAP to search any value inside a list.

In [31]:
# list inside list(nested_list)
a = [['Ram',45,'kathmandu'],
    ['Shyam',35,'Bhaktapur'],
    ['Hari',28,'Lalitput']]

b = [[1,2,4],
    [5,6,7],
    [8,9,10]]

In [33]:
a[2]

['Hari', 28, 'Lalitput']

In [5]:
a = [['Ram',45,'kathmandu'],
    ['Shyam',35,'Bhaktapur'],
    ['Hari',28,'Lalitput']]

b = [[1,2,4],
    [5,6,7],
    [8,9,10]]

a[0][2]

'kathmandu'

In [6]:
a.append(['sita',20,'rara'])
a

[['Ram', 45, 'kathmandu'],
 ['Shyam', 35, 'Bhaktapur'],
 ['Hari', 28, 'Lalitput'],
 ['sita', 20, 'rara']]

In [7]:
a.insert(1,['Sarita',19,'btwl'])
a

[['Ram', 45, 'kathmandu'],
 ['Sarita', 19, 'btwl'],
 ['Shyam', 35, 'Bhaktapur'],
 ['Hari', 28, 'Lalitput'],
 ['sita', 20, 'rara']]

In [8]:
for i in a:
    print(i)

['Ram', 45, 'kathmandu']
['Sarita', 19, 'btwl']
['Shyam', 35, 'Bhaktapur']
['Hari', 28, 'Lalitput']
['sita', 20, 'rara']

In [10]:
search = input("Enter name = ")
for i in a:
    if search in i:
        print(i)

Enter name = Ram
['Ram', 45, 'kathmandu']

In [44]:
a

[['Ram', 45, 'kathmandu'],
 ['Sarita', 19, 'btwl'],
 ['Shyam', 35, 'Bhaktapur'],
 ['Hari', 28, 'Lalitput'],
 ['sita', 20, 'rara'],
 ['sita', 20, 'rara']]

In [43]:
b = input("Enter name = ")
for i in a:
    if b in i:
        print(i)

Enter name = Shyam
['Shyam', 35, 'Bhaktapur']

In [47]:
a = [['Ram',45,'kathmandu'],
    ['Shyam',35,'Bhaktapur'],
    ['Hari',28,'Lalitput']]
a[2][0] = 'Hira'
a

[['Ram', 45, 'kathmandu'],
 ['Shyam', 35, 'Bhaktapur'],
 ['Hira', 28, 'Lalitput']]

In [ ]:
# WAP to create a matrix
# r = ?
# c = ?
# x = ?

# WAP to remove duplicate data in list inside list