In [1]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\om\anaconda3\lib\site-packages (2.2.9)

In [3]:
import mysql.connector       #importing database

database = mysql.connector.connect(
host="localhost",
user="root",
password=""
)
db = database.cursor()

db.execute("CREATE DATABASE pythons")

In [1]:
import mysql.connector        #importing database

database = mysql.connector.connect(
host="localhost",
user="root",
password="",
database='class8am'
)
db = database.cursor()

In [12]:
db.execute("SELECT * FROM student")
result =db.fetchall()
for x in result:
    print(x)

(1, 'joya nepali', 89.0, 67.0, 67.0, 89.0, 67.0, 500.0, 80.0, 'A')
(2, 'sabin kc', 67.0, 76.0, 56.0, 67.0, 56.0, 450.0, 65.0, 'B')
(3, 'prem', 45.0, 65.0, 56.0, 56.0, 45.0, 350.0, 50.0, 'C')
(4, 'krishna', 45.0, 67.0, 67.0, 76.0, 56.0, 56.0, 77.0, 'c')
(5, 'krishna', 45.0, 67.0, 67.0, 76.0, 56.0, 56.0, 77.0, 'c')

In [8]:
db.execute("SELECT sn,name,total,grade FROM student")
result=db.fetchall()
for x in result:
    print(x)

(1, 'joya nepali', 500.0, 'A')
(2, 'sabin kc', 450.0, 'B')
(3, 'prem', 350.0, 'C')

In [2]:
sql='''INSERT INTO student (name, physics, chemistry, math, english, nepali, total, per, grade) 
VALUES ( 'krishna', 45, 67, 67, 76, 56, 56, 77, 'c');'''
db.execute(sql)
database.commit()

In [5]:
import mysql.connector        #importing database

database = mysql.connector.connect(
host="localhost",
user="root",
password="",
database='class8am'
)
db = database.cursor()


name=input("Enter name = ")
physics = int(input("Enter physics marks = "))
chemistry = int(input("Enter chemistry marks = "))
math = int(input("Enter math marks = "))
english = int(input("Enter english marks = "))
nepali = int(input("Enter nepali marks = "))
total = physics+phemistry+math+english+nepali
per = total/5
if per>=80:
    grade='A'
elif per>=60:
    grade='B'
elif per>=45:
    grade='C'
else:
    grade='F'
sql=f'''INSERT INTO student ( name, physics, chemistry, math, english, nepali, total, per, grade) 
VALUES ('{name}', {physics}, {chemistry},{math}, {english}, {nepali}, {total}, {per}, '{grade}');'''
db.execute(sql)
database.commit()

Enter name = pooja
Enter physics marks = 34
Enter chemistry marks = 43
Enter math marks = 34
Enter english marks = 34
Enter nepali marks = 43

In [7]:
# Delete

sql="DELETE FROM student WHERE sn=3"
db.execute(sql)
database.commit()

In [9]:
# update

sql="UPDATE student SET name='poojari' WHERE name='pooja'"
db.execute(sql)
database.commit()