In [1]:
# string

In [2]:
a = 'Hello world'
b = "Hello world"
c = '''Hello world'''

print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [3]:
# + *
a = "Hello world"
print(a*2)

Hello worldHello world

In [5]:
a = "Hello "
b = "world"
c = a+b
print(c)

Hello world

In [7]:
a = "Hello world"
a[0]

'H'

In [8]:
a = "Hello world"
a[:4]

'Hell'

In [10]:
a = "Hello world"
a[0:10:2]

'Hlowr'

In [11]:
a = "Hello world"
a[10:0:-1]

'dlrow olle'

In [13]:
a = "Hello world"
a[10::-1]

'dlrow olleH'

In [14]:
a = "Hello world"
a[::-1]

'dlrow olleH'

In [16]:
# string formatting
name = "Ram"
age = 10
data = f"hello my name is {name}.I am {age}."
data

'hello my name is Ram.I am 10.'

In [20]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add= input("Enter add = ")
data = f"Hello i am {name}. I am {age}. I am from {add}."
data

Enter name = dfghj
Enter age = 23
Enter add = gfd

'Hello i am dfghj. I am 23. I am from gfd.'

In [24]:
s = str() 
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    qty = int(input("Enter qty = "))
    total = price*qty
    bill = f"{name} {price} {qty} {total}\n" 
    s = s+bill
print('name\tprice\tqty\ttotal')    
print(s)

Enter n = 2
Enter name = apple
Enter price = 20
Enter qty = 40
Enter name = mango
Enter price = 30
Enter qty = 20
name	price	qty	total
apple 20 40 800
mango 30 20 600

In [31]:
s = "ram shyam hari gita sita"
for i in s:
    print(i,end="")

ram shyam hari gita sita

In [33]:
s = "ram shyam hari gita sita"
 "ram" in s:

IndentationError: unexpected indent (4220810833.py, line 2)

In [30]:
s = "ram shyam hari gita sita"
if "ram" in s:
    print("yes")
else:
    print("no")

yes

In [ ]:
s = "Ram shyam hari gita sita ramesh"
search = input("Enter s = ")
if search in s:
    print("yes")
    print(s.count(search))
else:
    print("No")

Enter s = ram

In [8]:
s = "Ram shyam hari gita sita Ramesh"
search = input("Enter s = ")
if search in s:
    print("yes")
    print(s.count(search))
else:
    print("No")

Enter s = Ram
yes
2

In [2]:
s = "Ram shyam hari gita sita ramesh"
print(s.upper())
print(s)

RAM SHYAM HARI GITA SITA RAMESH
Ram shyam hari gita sita ramesh

In [3]:
s = "Ram shyam hari gita sita ramesh"
print(s.lower())

ram shyam hari gita sita ramesh

In [5]:
s = "Ram shyam hari gita sita ramesh"
s = s.lower()
print(s)
print(s)

ram shyam hari gita sita ramesh
ram shyam hari gita sita ramesh

In [6]:
s = "Ram shyam hari gita sita ramesh"
s = s.upper()
print(s)

RAM SHYAM HARI GITA SITA RAMESH

In [9]:
# mutable= automaic change
# unmutable= change forcefully

In [13]:
# replace
s = "Ram shyam hari gita sita ramesh"
s.replace('shyam','Shyam')
s

'Ram shyam hari gita sita ramesh'

In [14]:
s = "Ram shyam hari gita sita ramesh"
s.replace('shyam','')

'Ram  hari gita sita ramesh'

In [15]:
s = "Ram shyam hari gita sita ramesh"
s.split()

['Ram', 'shyam', 'hari', 'gita', 'sita', 'ramesh']

3

2

In [22]:
s = "Ram shyam hari gita sita ramesh"
s.title()

'Ram Shyam Hari Gita Sita Ramesh'

In [1]:
name = "Ram"
age = 10
inform = f"hello my name is {name}.I am {age}."
inform

'hello my name is Ram.I am 10.'

NameError: name 'a' is not defined