In [1]:
# Tuple
# indexing
# ordered
# duplication value
# multiple values
# imutable(can't change)

In [2]:
a = (1,2,3,4,5)
b = ("apple","ball","cat")
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [3]:
b = ("apple","ball","cat")
print(b[2])

cat

In [4]:
b = ("apple","ball","cat")
print(b[0:2])

('apple', 'ball')

In [5]:
b = ("apple","ball","cat")
a = ("dog","Goat")
c = a+b
print(c)

('dog', 'Goat', 'apple', 'ball', 'cat')

In [6]:
b = ("apple","ball","cat")
b*2

('apple', 'ball', 'cat', 'apple', 'ball', 'cat')

In [7]:
# no append()
# no insert()
# no del pop()
# no update
# no remove()
# no sort

In [8]:
a = ("Apple",)
print(type(a))

<class 'tuple'>

In [9]:
a = ("Apple",)
type(a)

tuple

In [10]:
b = ("apple","ball","cat")
type(b)

tuple

In [12]:
a = tuple()
b = a+("Apple",)
b

('Apple',)

In [13]:
a = tuple()
b = "Apple"
c = "Ball"
a = a+(b,)
a = a+(c,)
a

('Apple', 'Ball')

In [15]:
t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter n = "))
    t = t+(x,)
    print(t)

Enter n = 4
Enter n = 43
(43,)
Enter n = 432
(43, 432)
Enter n = 43
(43, 432, 43)
Enter n = 43
(43, 432, 43, 43)

In [18]:
a = ("ram","Shyam","Hari")
if "ram" in a:
    print("yes")

yes

In [19]:
a = ("ram","Shyam","Hari")
for i in a:
    print(i)

ram
Shyam
Hari

In [20]:
a = ("ram","Shyam","Hari")
sorted(a)

['Hari', 'Shyam', 'ram']

In [21]:
a = ("ram","Shyam","Hari")
l = list(a)
l

['ram', 'Shyam', 'Hari']

In [22]:
# tuple inside tuple

In [23]:
# t = ((1,23,,4)
#     (4,5,6,),
#     (7,8,9))

t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    y = int(input("Enter y = "))
    z = int(input("Enter z = "))
    t = t+((x,y,z),)
print(t)

Enter n = 2
Enter x = 1
Enter y = 2
Enter z = 3
Enter x = 4
Enter y = 5
Enter z = 6
((1, 2, 3), (4, 5, 6))

In [24]:
t = ((1,2,3),(4,5,6))
for i in t:
    print(list(i))

[1, 2, 3]
[4, 5, 6]

In [25]:
t = tuple()
l = [[1,2,3],[4,5,6]]
for i in l:
    t=t+ (tuple(i),)
print(t)

((1, 2, 3), (4, 5, 6))

In [26]:
t = ([1, 2, 3], [4, 5, 6])
l = [(1,2,3),(4,5,6)]

In [27]:
t = ((1,2,3),(4,5,6))
t = list(t)
t

[(1, 2, 3), (4, 5, 6)]

In [28]:
t.append((7,8,9))
t

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [29]:
del t[0]
t

[(4, 5, 6), (7, 8, 9)]